html{
  height:100%;
}

body{
  color:#4A4C49;
  margin:0px;
  padding:0px;
  background: url("../images/enrollnow.jpg");
  height:100%;
  background-position: center;
  background-size: cover;
}


.left{
display:inline-block;
position:absolute;
left:25px;
top:20px;
color:#4A4C49;
font-family: 'Josefin Sans', sans-serif;
font-size:12px;
}
.left span{
  font-weight:bold;
  font-size:16px;
}
.mid{
  display:block;
  width:33%;
  margin:20px auto;

}
.right{
  display:inline-block;

  position:absolute;
  right:25px;
  top:20px;
}

.navbar{
display:inline-block;
}

.navbar li{
  font-family: 'Josefin Sans', sans-serif;
  display:inline-block;
  font-weight: bold;
  font-size:20px;
}
.navbar li a {
  color:#4A4C49;
  text-decoration: none;
  padding: 32px 42px;

}
.navbar li a:hover{
  color:white;
  text-decoration: underline;
}

.left img{
  display:block;
  width:50px;
  margin:auto;
  border-radius:50%;
}

 .btn{
  margin: 8px 30px;
  padding:6px 34px;
  color:#white;
  border-radius: 4px;
}
.btn{
  color:white;
  background-color:#4A4C49;
  font-weight: bold;
  font-size:20px;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration:none;
  color:white;
}
.btn:hover{
background-color:#F70808;
color:black; */
}
.btn a{
  text-decoration: none;
  color:white;
}
.btn a:hover{
  color:black;
}

.content{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    color:white;

  height:400px;
  width:450px;
  font-size:70px;
  position: absolute;
  left:60px;
  top:120px;

}

.footer{
  display:block-inline;
  width: 33%;
  margin:490px auto;
  text-align: center;
  color:white;

}
